@import "../../utils/variables.scss";

.formLogin {
  display: flex;

  align-items: center;
  flex-direction: column;

  padding: 50px 0 30px 0;
  box-sizing: border-box;

  width: 340px;
  height: 450px;

  position: absolute;
  top: calc(50% - 450px/2);
  left: calc(50% - 340px/2);

  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;

  .title {
    margin-bottom: 40px;

    @include set-font-size-height(20px, 20px);
  }

  .field {
    margin-bottom: 20px;

    .labelText {
      display: block;
      margin-bottom: 4px;

      color: $mainGrey;

      @include set-font-size-height(9px, 9px);
    }

    .input {
      width: 280px;

      padding-bottom: 4px;

      border: 0;
      border-bottom: 1px solid $mainBlue;

      &:hover {
        border-color: $lightBlue;
      }
    }
  }

  .buttonsContainer {
    margin-top: 140px;
    text-align: center;

    .button {
      &:first-child {
        height: 37px;
        width: 280px;

        border-radius: 8px;
        background-color: $mainBlue;

        margin-bottom: 14px;

        &:hover {
          background-color: $lightBlue;
        }
      }

      &:last-child {
        color: $mainBlue;

        &:hover {
          color: $lightBlue;
        }
      }
    }
  }
}

