@import "../../utils/variables";

.formContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    padding: 50px 30px 30px 30px;
    box-sizing: border-box;

    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;

    text-align: center;

    .title {
      margin-bottom: 40px;

      @include set-font-size-height(20px, 20px);
    }

    .fieldsContainer {
      width: 240px;
    }

    .buttonsContainer {
      text-align: center;
      width: 240px;
      justify-self: end;

      .button {
        &:first-child {
          height: 37px;
          width: 100%;

          border-radius: 8px;
          background-color: $mainBlue;

          margin-bottom: 14px;

          &:hover {
            background-color: $lightBlue;
          }
        }

        &:last-child {
          color: $mainBlue;

          &:hover {
            color: $lightBlue;
          }
        }
      }
    }
  }
}

