@import '../../utils/variables.scss';

.interimNavigationButtons {
  position: absolute;
  left: 20px;
  right: 20px;

  .title {
    margin: 0 0 5px;
    @include set-font-size-height(15px, 15px)
  }

  .button {
    background-color: $mainBlue;
    color: white;

    padding: 5px;
    border-radius: 8px;
  }
}