@import '../../utils/variables.scss';

.error {
  height: 100vh;

  @include center-by-flex();
  flex-direction: column;

  .code {
    margin-bottom: 20px;

    @include medium-text(40px, 40px, black);
  }

  .message {
    margin-bottom: 70px;

    @include medium-text(20px, 20px, black);
  }

  .button {
    color: $mainBlue;
  }
}