<label class="field">
    <span class="labelText">{{label}}</span>
    <input
            type={{type}}
            name={{name}}
            {{ isDisabled }}
            class="input"
    >
</label>

